<div class="container border rounded mt-5 p-3">
    <form [formGroup]="registroFormulario" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <div class="col">
                <h2>Registro de usuario:</h2>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-2">Usuario:</div>
            <div class="col">
                <input class="form-control" type="text" placeholder="Ingrese su contraseña" formControlName="usuario">
                <div *ngIf="registroFormulario.get('usuario')?.touched">
                    <div *ngIf="registroFormulario.get('usuario')?.errors?.['required']" class="error_alert">Debes ingresar un correo.</div>
                    <div *ngIf="registroFormulario.get('usuario')?.errors?.['email']" class="error_alert">Debes ingresar un correo valido.</div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-2">Contraseña:</div>
            <div class="col">
                <input class="form-control" type="password" placeholder="Ingrese su contraseña" formControlName="password" (change)="verificarCampoPassword()">
                <div *ngIf="registroFormulario.get('password')?.touched">
                    <div *ngIf="registroFormulario.get('password')?.errors?.['required']" class="error_alert">Debes ingresar una contraseña.</div>
                    <div *ngIf="disparadorPassword" class="error_alert">Debes ingresar un mínimo de 6 carácteres.</div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <button class="btn btn-primary" type="submit">Registrar</button>
            </div>
        </div>
    </form>
</div>
